# Your Wi-Fi SSID and password
wifi_ssid: "YourWifi"
wifi_password: "YourWifiPassword"

api_encryption_key: "SomeEncryptionKey"
ota_password: "SomeOTAPassword"

wifi_api_fallback_password: "fallback"
